<app-jumbotron [title]="listado"></app-jumbotron>
<hr>
<div class="container">
    <app-flotante-button></app-flotante-button>
</div>

<div class="card-columns" *ngIf="!cargando  && peliculas.length > 0">
    <div class="card animated fadeIn fast" *ngFor="let pelicula of peliculas; let i = index">
        <br>
        <img [src]="pelicula.image" class="card-img-top " [alt]="pelicula.name">
        <div class="card-body ">
            <p class="card-text "><small class="text-muted "></small></p>
            <h5 class="card-title text-center">{{pelicula.year}}</h5>
            <div class="actions ">
                <button type="button" class="btn btn-success" [routerLink]="['/pelicula',pelicula.id]">
                <i class=" fa fa-pen"></i>
              </button>
                <h5 class="card-title text-center">{{pelicula.name}}</h5>
                <button type="button" class="btn btn-danger" (click)="borrarPelicula(pelicula,i)">
                <i class=" fa fa-trash"></i>
              </button>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning text-center mt-3 animated fadeIn faster" *ngIf="!cargando && peliculas.length === 0">
    <h4 class="alert-heading">No hay datos</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div class="alert alert-info text-center mt-3 animated fadeIn faster" *ngIf="cargando">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>