.card-img-top {
    width: 50%;
    margin-left: 7em;
    margin-right: auto;
    border-radius: 150px;
}

.card {
    grid-area: a;
    align-self: center;
    justify-self: center;
    background: rgba(255, 212, 70, 0.397);
    border: 1px solid #888;
    text-align: center;
    box-shadow: 2px 2px 10px #999;
    max-width: 420px;
}

.card img {
    margin: 0.3rem;
    border: 1px solid #888;
}

.card .actions {
    grid-area: actions;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
}