<div class="card">
    <h2>Super Héroes</h2>
    <div class="title ">Crea o actualiza super héroes</div>
    <div class="desc ">
        <form (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>ID</label>
                        <input type="text " class="form-control " disabled placeholder="ID del Héroe" name="id" [(ngModel)]="heroe.id">
                        <small class="form-text text-muted ">El ID se genera automáticamente</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Nombre</label>
                        <input type="text " class="form-control " placeholder="Nombre del heroe" name="nombre" [(ngModel)]="heroe.name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Actor</label>
                        <select class="form-control" name="actor_id" [(ngModel)]="heroe.actor_id" required>
                            <option *ngFor="let actor of actors" value="{{actor.id}}">{{actor.name}}</option>
                      </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Casa Editorial</label>
                        <select class="form-control" name="house" [(ngModel)]="heroe.house" required>
                          <option value="dc">DC</option>
                          <option value="marvel">Marvel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <label>URL de la Imagen del Heroe</label>
                <input type="text " class="form-control " placeholder="URL de la Imagen del actor " name="image " [(ngModel)]="heroe.image " required>
            </div>
            <br>
            <div class="actions ">
                <a [routerLink]="[ '/superheroes'] "><i class="fa fa-arrow-left "></i></a>
                <button type="submit " class="btn btn-danger ">
                <i class="fa fa-save "></i>
              </button>
                <a [routerLink]="[ '/superheroes'] "><i class="fas fa-times "></i></a>
            </div>
        </form>
    </div>
    <svg viewBox="0 0 100 100 ">
        <image xlink:href="https://cdn2.iconfinder.com/data/icons/superhero-rescue/252/superhero-002-512.png" x=25 y=20 width=50 height=50  *ngIf="!heroe.image"/>
        <image  [attr.xlink:href]="heroe.image"  x=25 y=20 width=50 height=50 *ngIf="heroe.image" />
  </svg>
</div>